flaskapp\auth\
auth\

config.py

# Ignoramos las carpetas creadas por Python y sus paquetes virtuales
*__pycache__*
__pycache__
pycache/*
*.py[cod]
*.egg*
*.venv*

# Excluimos archivos de compilación y depuración
*.pyc
*~

# Archivos de configuración específicos del entorno
flaskapp\app\config.py

# Directorios temporales
thumbnails/

# Logs de producción
logs/*.log

# Archivos de migraciones de SQLAlchemy
migrations/

# Archivos de pruebas unitarias
tests/*

# Archivos de documentación automática
docs/_build/html/

# Archivos de cache de Flask-Babel
flaskbabel*.pyc

env/
env
venv


flaskapp/app/config.py
