Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.2.0
pdfminer.six==20251230
pdfplumber==0.11.9
pypdfium2==5.5.0
pytesseract==0.3.13
python-dateutil==2.8.2
reportlab==4.2.2
requests==2.32.5
SQLAlchemy==2.0.24
Werkzeug==3.0.1
