<!DOCTYPE html>
<html
   class="no-js"
   lang="en"
>
   <head>
      <meta charset="utf-8" />
      <meta
         http-equiv="x-ua-compatible"
         content="ie=edge"
      />
      <title>Clientes</title>
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1"
      />
      <link
         rel="shortcut icon"
         type="image/png"
         href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/themify-icons.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/metisMenu.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}"
      />
      <!-- amchart css -->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/export.css') }}"
         type="text/css"
         media="all"
      />
      <!-- others css -->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/typography.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/default-css.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/styles.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/responsive.css') }}"
      />

      <!-- DataTables FORMATO TABLAS-->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}"
      />
      <!-- modernizr css -->
      <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
      <!-- Incluye SweetAlert mediante CDN en tu archivo HTML -->
      <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/brc-styles.css') }}"
      />
   </head>

   <body>
      <nav class="navbar">
         <a
            class="app-section"
            href="{{ url_for('main.index') }}"
         >
            <h2 class="name-app">Póliza Tracker</h2>
            <img
               src="{{ url_for('static',filename='assets/images/GGGC.png') }}"
               class="logo-ggc"
            />
         </a>

         <div class="user-profile pull-right">
            <h6
               class="user-name dropdown-toggle"
               data-toggle="dropdown"
            >
               {{ current_user.username }}<i class="fa fa-angle-down"></i>
            </h6>
            <div class="dropdown-menu">
               <a
                  class="dropdown-item"
                  href="{{ url_for('auth.logout') }}"
                  >Cerrar Sesión</a
               >
               <a
                  class="dropdown-item"
                  href="{{ url_for('auth.cambiar_contrasena') }}"
                  >Cambiar Contraseña</a
               >
            </div>
         </div>
      </nav>
      <!-- page container area start -->
      <div class="tables-container">
         <div class="form__container form_polizas">
            <h4 class="header-title">Captura de Clientes</h4>
            <form
               id="cliente-form"
               method="POST"
               action="{{ url_for('main.create_client') }}"
               class="needs-validation form-data"
               novalidate
            >
               <input
                  type="hidden"
                  id="cliente_id"
                  name="cliente_id"
                  value="New"
               />

               <div class="form__input-data">
                  <label
                     for="nombre"
                     class="label-input-data"
                  >
                     Nombre Cliente
                  </label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        name="nombre"
                        placeholder=""
                        minlength="2"
                        maxlength="50"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un nombre válido.</p>
                  </div>
               </div>

               <div class="form__input-data">
                  <label
                     for="apellido"
                     class="label-input-data"
                     >Apellido</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="apellido"
                        name="apellido"
                        placeholder=""
                        minlength="2"
                        maxlength="50"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un apellido válido.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="rfc"
                     class="label-input-data"
                     >RFC</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="rfc"
                        name="rfc"
                        placeholder=""
                        minlength="12"
                        maxlength="13"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un RFC válido.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="telefono_oficina"
                     class="label-input-data"
                     >Teléfonos Oficina</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="telefono_oficina"
                        name="telefono_oficina"
                        placeholder=""
                        minlength="10"
                        maxlength="10"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un teléfono válido.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="telefono_movil"
                     class="label-input-data"
                     >Teléfonos Móviles</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="telefono_movil"
                        name="telefono_movil"
                        placeholder=""
                        minlength="10"
                        maxlength="10"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un teléfono válido.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="telefono_casa"
                     class="label-input-data"
                  >
                     Teléfonos Casa</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="telefono_casa"
                        name="telefono_casa"
                        placeholder=""
                        minlength="10"
                        maxlength="10"
                        required
                     />
                     <p class="invalid-feedback">Ingresa un teléfono válido.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label class="label-input-data" for="correo">Correo Electrónico</label>
                  <div class="input-group">
                     <input
                        type="email"
                        class="form-control"
                        id="correo"
                        name="correo"
                        placeholder=""
                        minlength="5"
                        maxlength="50"
                        required
                     />
                     <p class="invalid-feedback">
                        Ingresa un correo electrónico válido.
                     </p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="direccion_fiscal"
                     class="label-input-data"
                     >Dirección Fiscal</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="direccion_fiscal"
                        name="direccion_fiscal"
                        placeholder=""
                        minlength="5"
                        maxlength="125"
                        required
                     />
                     <p class="invalid-feedback">
                        Ingresa una dirección válida.
                     </p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="fecha_nacimiento"
                     class="label-input-data"
                     >Fecha de Nacimiento</label
                  >
                  <div class="input-group">
                     <input
                        type="date"
                        class="form-control"
                        id="fecha_nacimiento"
                        name="fecha_nacimiento"
                        placeholder=""
                        required
                     />
                     <p class="invalid-feedback">Ingresa una fecha válida.</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="sexo"
                     class="label-input-data"
                     >Sexo</label
                  >
                  <select
                     class="custom-select"
                     id="sexo"
                     name="sexo"
                     required
                  >
                     <option value="">Selecciona...</option>
                     <option value="Hombre">Femenino</option>
                     <option value="Mujer">Masculino</option>
                  </select>
                  <p class="invalid-feedback">Selecciona un sexo válido.</p>
               </div>
               <div class="form__input-data">
                  <label
                     for="ocupacion"
                     class="label-input-data"
                     >Ocupación</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="ocupacion"
                        name="ocupacion"
                        placeholder=""
                        minlength="2"
                        maxlength="30"
                        required
                     />
                     <p class="invalid-feedback">
                        Ingresa una ocupación válida.
                     </p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="giro_actividad"
                     class="label-input-data"
                     >Giro o Actividad</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="giro_actividad"
                        name="giro_actividad"
                        placeholder=""
                        minlength="2"
                        maxlength="30"
                        required
                     />
                     <p class="invalid-feedback">
                        Ingresa un giro o actividad válido.
                     </p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label
                     for="grupo"
                     class="label-input-data"
                     >Grupo</label
                  >
                  <select
                     class="custom-select"
                     id="grupo"
                     name="grupo"
                     required
                  >
                     <option value="">Selecciona...</option>
                     {% for grupo in grupos %}
                     <option value="{{ grupo.id }}">{{ grupo.grupo }}</option>
                     {% endfor %}
                     <option value="New">Nuevo Grupo</option>
                  </select>
                  <p class="invalid-feedback">Selecciona un grupo válido.</p>
               </div>
               <div
                  class="form__input-data" 
                  style="display: none"
                  id="nuevo_grupo_div"
               >
                  <label
                     for="nuevo_grupo"
                     class="label-input-data"
                     >Nuevo Grupo</label
                  >
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        name="nuevo_grupo"
                        id="nuevo_grupo"
                        placeholder=""
                        minlength="2"
                        maxlength="30"
                     />
                     <p class="invalid-feedback">Ingresa un nuevo grupo</p>
                  </div>
               </div>
               <div class="button-container">
                  <button
                     id="Savebtn"
                     type="submit"
                     class="btn"
                  >
                     Crear
                  </button>
                  <button
                     id="Resetbtn"
                     type="reset"
                     class="btn"
                  >
                     Cancelar
                  </button>
               </div>
            </form>
         </div>

         <!-- Server side end -->

         <div class="form__container table-polizas">
            <div class="header-table">
               <h4 class="header-title">Clientes</h4>

               <div class="table-options">
                  <!-- Revisar HREF -->
                  <a
                     href="{{ url_for('main.export_clients') }}"
                     class="link-forgot-pass link-option"
                     id="exportallCSV"
                  >
                     Exportar todo
                  </a>
               </div>
            </div>

            <table
               id="myTable"
               class="table"
            >
               <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Correo</th>
                     <th>Celular</th>
                     <th>Acción</th>
                  </tr>
               </thead>
               <tbody></tbody>
            </table>
         </div>

         <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Acción</th>
                        <!-- <th scope="col">Vigencia</th> -->
                        <!-- <th scope="col"></th> -->
                     </tr>
                  </thead>
                  <tbody id="demo">
                     <!-- Agregar la información de la tabla -->
                  </tbody>
               </table>
            </div>

         <!-- main content area end -->
      </div>
      <!-- page container area end -->

      <!-- jquery latest version -->
      <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
      <!-- bootstrap 4 js -->
      <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>

      <!-- DataTables  & Plugins FORMATO TABLAS-->
      <script src="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/jszip/jszip.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/pdfmake.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/vfs_fonts.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
      <!-- DataTables  & Plugins FORMATO TABLAS-->
      <script src="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/jszip/jszip.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/pdfmake.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/vfs_fonts.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>

      <!-- others plugins -->
      <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
      <!-- others plugins -->
      <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

      <script>
         var editicon =
            "{{ url_for('static', filename='assets/images/icon/edit.png') }}";
         var deleteicon =
            "{{ url_for('static', filename='assets/images/icon/delete.png') }}";
      </script>
      <script type="module" src="{{ url_for('static', filename='assets/controladores/clientes.js') }}"></script>
   </body>
</html>

