<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}">
    <!--link rel="stylesheet" href="{{ url_for('static',filename='assets/css/brc-styles.css') }}"/-->
    <!-- DataTables FORMATO TABLAS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <!-- Incluye SweetAlert mediante CDN en tu archivo HTML -->
    <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">

        <div class="main-content">
            
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <b><h4 class="header-title pull-left">Sistema de Control de Pólizas</h4></b>
                            <ul class="breadcrumbs pull-left">
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h5 class="user-name dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<i class="fa fa-angle-down"></i></h5>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
                                <a class="dropdown-item" href="{{ url_for('auth.cambiar_contrasena') }}">Cambiar Contraseña</a>
                                <a class="dropdown-item" href="{{ url_for('main.index') }}">Menu Principal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                           
                            <!-- button with dropdown end -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                        
                           
                            <!-- Server side start -->
                            <div class="col-6">
                                <div class="card mt-5">
                                    <div class="card-body">
                                        <b><h4 class="header-title">Captura de Clientes</h4></b>
                                        <form id="cliente-form" method="POST" action="{{ url_for('main.create_client') }}" class="needs-validation" novalidate>
                                            <input type="hidden" id="cliente_id" name="cliente_id" value="New">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="nombre">Nombre Cliente</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" minlength="2" maxlength="50" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un nombre válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="apellido">Apellido</label>
                                                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="" minlength="2" maxlength="50" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un apellido válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="rfc">RFC</label>
                                                    <input type="text" class="form-control" id="rfc" name="rfc" placeholder="" minlength="12" maxlength="13" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un RFC válido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="telefono_oficina">Teléfonos Oficina</label>
                                                    <input type="text" class="form-control" id="telefono_oficina" name="telefono_oficina" placeholder="" minlength="10" maxlength="10" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un teléfono válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="telefono_movil">Teléfonos Móviles</label>
                                                    <input type="text" class="form-control" id="telefono_movil" name="telefono_movil" placeholder="" minlength="10" maxlength="10" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un teléfono válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="telefono_casa">Teléfonos Casa</label>
                                                    <input type="text" class="form-control" id="telefono_casa" name="telefono_casa" placeholder="" minlength="10" maxlength="10" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un teléfono válido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="correo">Correo Electrónico</label>
                                                    <input type="email" class="form-control" id="correo" name="correo" placeholder="" minlength="5" maxlength="50" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un correo electrónico válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="direccion_fiscal">Dirección Fiscal</label>
                                                    <input type="text" class="form-control" id="direccion_fiscal" name="direccion_fiscal" placeholder="" minlength="5" maxlength="125" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa una dirección válida.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                                                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa una fecha válida.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="sexo">Sexo</label>
                                                    <select class="custom-select" id="sexo" name="sexo" required>
                                                        <option value="">Selecciona...</option>
                                                        <option value="Hombre">Femenino</option>
                                                        <option value="Mujer">Masculino</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Selecciona un sexo válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="ocupacion">Ocupación</label>
                                                    <input type="text" class="form-control" id="ocupacion" name="ocupacion" placeholder="" minlength="2" maxlength="30" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa una ocupación válida.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="giro_actividad">Giro o Actividad</label>
                                                    <input type="text" class="form-control" id="giro_actividad" name="giro_actividad" placeholder="" minlength="2" maxlength="30" required>
                                                    <div class="invalid-feedback">
                                                        Ingresa un giro o actividad válido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="grupo">Grupo</label>
                                                    <select class="custom-select" id="grupo" name="grupo" required>
                                                        <option value="">Selecciona...</option>
                                                        {% for grupo in grupos %}
                                                            <option value="{{ grupo.id }}">{{ grupo.grupo }}</option>
                                                        {% endfor %}
                                                        <option value="New">Nuevo Grupo</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Selecciona un grupo válido.
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3 nuevo-grupo-input" style="display: none;">
                                                    <label for="nuevo_grupo">Nuevo Grupo</label>
                                                    <input type="text" class="form-control" name="nuevo_grupo" id="nuevo_grupo" placeholder="" minlength="2" maxlength="30">
                                                    <div class="invalid-feedback">
                                                        Ingresa un nuevo grupo
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="Savebtn" type="submit" class="btn text-white">Crear</button>
                                            <button id="Resetbtn" type="reset" class="btn text-white">Cancelar</button>
                                        </form>
                                        
                                   </div>
                                </div>
                            </div>
                            <!-- Server side end -->
                            <div class="col-6">
                                <div class="card mt-5">
                                    <div class="card-body">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="form-row">
                                                    <div class="col-lg-6">
                                                            <h5><b>Clientes</b></h5>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <a  class="btn btn-success" id="exportCSVButton">
                                                            <i class="fas fa-file-csv"></i> <span>Exportar</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <a  href="{{ url_for('main.export_clients') }}" class="btn btn-success" id="exportallCSV">
                                                            <i class="fas fa-file-csv"></i> <span>Exportar todo</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <table id="myTable" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Correo</th>
                                                        <th>Celular</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
    </div>
    <!-- page container area end -->
  
     <!-- jquery latest version -->
     <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
     <!-- bootstrap 4 js -->
     <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>

    <!-- DataTables  & Plugins FORMATO TABLAS-->
    <script src="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jszip/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

    <script>
        var editicon = "{{ url_for('static', filename='assets/images/icon/edit.png') }}";
        var deleteicon = "{{ url_for('static', filename='assets/images/icon/delete.png') }}";
    </script>
    <script src="{{ url_for('static', filename='assets/controladores/clientes.js') }}"></script>

</body>

</html>



