<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Restablecer Contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <!-- Incluye SweetAlert mediante CDN en tu archivo HTML -->
    <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
</head>




    <div class="container">
        <div class="login-box ptb--0">
            <form id="forgotpassform" method="POST" >
                <div class="login-form-head">
                    <b>
                        <h4>Restablece la Contraseña</h4>
                    </b>
                    <p>Envía la solicitud al Administrador</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="InputUsuario">Usuario</label>
                        <input type="text" id="InputUsuario" name="username" required>
                        <i class="ti-lock"></i>
                        <h6 id="mensajeError" role="alert" style="display: none; color: tomato;">Ingresa un usuario valido</h6>
                    </div>
                </div>
                    <!-- Vertically centered modal start -->
                    <div class="col-lg-6 mt-12">
                        <div class="card col-lg-6">
                            
                            <!-- Button trigger modal -->
                            <div class="col-6">
                                <button id="enviarValidacion" type="submit" class="btn btn-primary" >Enviar</button>
                                <a type="button" class="btn text-white"  href="{{ url_for('auth.login') }}">Cancelar</a>
                            </div>
                        </div>
                    </div>
                
            </form>
        </div>




<!-- main content area end -->
<!-- footer area start-->

<!-- footer area end-->
</div>

     <!-- jquery latest version -->
     <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
     <!-- bootstrap 4 js -->
     <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
 
     <!-- others plugins -->
     <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
     <script src="{{ url_for('static', filename='assets/controladores/login2.js') }}"></script>
</body>

</html>