<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <title>Menú</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" type="image/png"
      href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/themify-icons.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}" />
   <!-- amchart css -->
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
   <!-- others css -->
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}" />

   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/brc-styles.css') }}" />

   <!-- modernizr css -->
   <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
   <nav class="navbar">
      <div class="app-section">
         <h2 class="name-app">Póliza Tracker</h2>
         <img src="{{ url_for('static',filename='assets/images/GGGC.png') }}" class="logo-ggc" />
      </div>

      <div class="user-profile pull-right">
         <h6 class="user-name dropdown-toggle" data-toggle="dropdown">
            {{ current_user.username }}<i class="fa fa-angle-down"></i>
         </h6>
         <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
            <a class="dropdown-item" href="{{ url_for('auth.cambiar_contrasena') }}">Cambiar Contraseña</a>
         </div>
      </div>
   </nav>
   <div class="general-card-container">
      <div class="tarjeta-container">
         <a href="{{ url_for('main.polizas') }}" class="card" id="polizas">
            <div name="polizas">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/documentos.png') }}" />

               <h3 class="text-card">Pólizas</h3>
            </div>
         </a>

         <a href="{{ url_for('main.cliente') }}" class="card" id="clientes">
            <div name="clientes">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/clientes.png') }}" />

               <h3 class="text-card">Clientes</h3>
            </div>
         </a>
         <a class="card" id="recibos">
            <div name="recibos">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/reportes.png') }}" />

               <h3 class="text-card">Recibos</h3>
            </div>
         </a>
         <a href="{{ url_for('main.vencimientos') }}" class="card" id="vencimientos">
            <div name="cencimientos">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/vencimientos.png') }}" />

               <h3 class="text-card">Vencimientos</h3>
            </div>
         </a>
         <a href="{{ url_for('main.reportes') }}" class="card" id="reportes">
            <div name="reportes">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/reportes.png') }}" />

               <h3 class="text-card">Reportes</h3>
            </div>
         </a>

         <a href="{{ url_for('main.usuario') }}" class="card" id="cardUser">
            <div name="cardUser">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/clientes.png') }}" />

               <h3 class="text-card">Usuarios</h3>
            </div>
         </a>

         <a class="card" id="reportesG">
            <div name="reportesG">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/reportes.png') }}" />

               <h3 class="text-card">Reportes Gerenciales</h3>
            </div>
         </a>

         <a href="{{ url_for('main.utilerias') }}" class="card" id="utilerias">
            <div name="utilerias">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/utilierias.png') }}" />

               <h3 class="text-card">Utilierias</h3>
            </div>
         </a>

         <a href="{{ url_for('main.solicitudes') }}" class="card" id="solicitudes">
            <div class="numberOfRequests hidden">
               <h4 class="nor-txt" id="numberOfRequests">
                  ...
               </h4>
            </div>
            <div name="solicitudes">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/reportes.png') }}" />

               <h3 class="text-card">Solicitudes</h3>
            </div>
         </a>

         <a class="card" id="acerca">
            <div name="acerca">
               <img class="card-img-top tamanoIcaja"
                  src="{{ url_for('static',filename='assets/images/acerca.png') }}" />

               <h3 class="text-card">Acerca de</h3>
            </div>
         </a>
      </div>
   </div>

   <!-- page container area end -->

   <!-- jquery latest version -->
   <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
   <!-- bootstrap 4 js -->
   <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>

   <!-- others plugins -->
   <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
   <script type="text/javascript">
      nivelUsuario = '{{acceso}}';
   </script>
   <script src="{{ url_for('static', filename='assets/controladores/menu.js') }}"></script>
</body>

</html>