<!DOCTYPE html>
<html
   class="no-js"
   lang="en"
>
   <head>
      <meta charset="utf-8" />
      <meta
         http-equiv="x-ua-compatible"
         content="ie=edge"
      />
      <title>Pólizas</title>
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1"
      />
      <link
         rel="shortcut icon"
         type="image/png"
         href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/themify-icons.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/metisMenu.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}"
      />
      <!-- amchart css -->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/export.css') }}"
         type="text/css"
         media="all"
      />
      <!-- others css -->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/typography.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/default-css.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/styles.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/responsive.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/css/brc-styles.css') }}"
      />
      <!-- DataTables FORMATO TABLAS-->
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static',filename='assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}"
      />
      <!-- modernizr css -->
      <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
      <!-- Incluye SweetAlert mediante CDN en tu archivo HTML -->
      <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
   </head>

   <body>
      <nav class="navbar">
         <a
            class="app-section"
            href="{{ url_for('main.index') }}"
         >
            <h2 class="name-app">Póliza Tracker</h2>
            <img
               src="{{ url_for('static',filename='assets/images/GGGC.png') }}"
               class="logo-ggc"
            />
         </a>

         <div class="user-profile pull-right">
            <h6
               class="user-name dropdown-toggle"
               data-toggle="dropdown"
            >
               {{ current_user.username }}<i class="fa fa-angle-down"></i>
            </h6>
            <div class="dropdown-menu">
               <a
                  class="dropdown-item"
                  href="{{ url_for('auth.logout') }}"
                  >Cerrar Sesión</a
               >
               <a
                  class="dropdown-item"
                  href="{{ url_for('auth.cambiar_contrasena') }}"
                  >Cambiar Contraseña</a
               >
            </div>
         </div>
      </nav>
      <!-- page title area end -->

      <!-- Server side start -->

      <div class="tables-container">
         <div class="form__container form_polizas">
            <h4 class="header-title">Pólizas</h4>

            <form
               id="form-polizas"
               class="needs-validation form-data"
               novalidate=""
            >
               <div class="form__input-data">
                  <label class="label-input-data">Movimiento</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Movimiento"
                        name="Movimiento"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">
                        Ingresa un movimiento valido
                     </p>
                  </div>
               </div>

               <div class="form__input-data">
                  <label class="label-input-data">Fecha de Captura</label>
                  <div class="input-group">
                     <input
                        type="date"
                        class="form-control"
                        id="FechaCaptura"
                        name="FechaCaptura"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                  </div>
               </div>
               <div class="form__input-data">
                  <label class="label-input-data">Póliza</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Poliza"
                        name="Poliza"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label class="label-input-data">Endoso</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Endoso"
                        name="Endoso"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
               </div>

               <div class="input-sibling">
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Inicio de Vigencia</label>
                     <div class="input-group">
                        <input
                           type="date"
                           class="form-control"
                           id="VigenciaI"
                           name="VigenciaI"
                           aria-describedby="inputGroupPrepend"
                           required=""
                        />
                     </div>
                  </div>
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Fin de Vigencia</label>
                     <div class="input-group">
                        <input
                           type="date"
                           class="form-control"
                           id="VigenciaF"
                           name="VigenciaF"
                           aria-describedby="inputGroupPrepend"
                           required=""
                        />
                     </div>
                  </div>
               </div>

               <div class="input-sibling">
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Ramo</label>
                     <select
                        class="custom-select"
                        id="Ramo"
                        name="Ramo"
                        required
                     >
                        <option value="">Selecciona...</option>
                        <option value="Hombre"></option>
                     </select>
                  </div>
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Subramo</label>
                     <select
                        class="custom-select"
                        id="Subramo"
                        name="Subramo"
                        required
                     >
                        <option value="">Selecciona...</option>
                        <option value="Hombre"></option>
                     </select>
                  </div>
               </div>

               <div class="input-sibling">
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Moneda</label>
                     <select
                        class="custom-select"
                        id="Moneda"
                        name="Moneda"
                        required
                     >
                        <option value="">Selecciona...</option>
                        <option value="Hombre">Nacional</option>
                        <option value="Hombre">Dolares</option>
                     </select>
                  </div>
                  <div class="form__input-data input-sibling-child">
                     <label class="label-input-data">Forma de Pago</label>
                     <select
                        class="custom-select"
                        id="Pago"
                        name="Pago"
                        required
                     >
                        <option value="">Selecciona...</option>
                        <option value="Hombre">Semestral</option>
                        <option value="Hombre">Trimestral</option>
                        <option value="Hombre">Mensual</option>
                     </select>
                     <p class="invalid-feedback">Selecciona un acceso valido</p>
                  </div>

                  <div class="form__input-data">
                     <label class="label-input-data input-sibling-child"
                        >Aseguradora</label
                     >
                     <select
                        class="custom-select"
                        id="Aseguradora"
                        name="Aseguradora"
                        required
                     >
                        <option value="">Selecciona...</option>
                        <option value="Hombre"></option>
                     </select>
                     <p class="invalid-feedback">Selecciona un acceso valido</p>
                  </div>
               </div>
               <div class="input-group rounded col-lg-12">
                  <input
                     type="search"
                     class="form-control rounded"
                     placeholder="Buscar Clientes"
                     aria-label="Search"
                     aria-describedby="search-addon"
                  />
                  <span
                     class="input-group-text border-0"
                     id="search-addon"
                  >
                     <img
                        src="/assets/images/icon/search.png"
                        width="15"
                        height="15"
                     />
                  </span>
               </div>
               <div class="form__input-data">
                  <label class="label-input-data">Agente</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Agente"
                        name="Agente"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
                  <label class="label-input-data">Prima Neta</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Agente"
                        name="Agente"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
                  <label class="label-input-data">Prima Total</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Agente"
                        name="Agente"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
                  <label class="label-input-data">Notas</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Agente"
                        name="Agente"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un dato valido</p>
                  </div>
               </div>
            </form>
            <div class="button-container">
               <button
                  class="btn"
                  type="submit"
                  value="Guardar Cambios"
                  id="btnGuardar"
                  name="btnGuardar"
               >
                  Guardar
               </button>

               <button
                  class="btn"
                  type="submit"
                  value="Generar Endoso"
               >
                  Generar Endoso
               </button>
               <button
                  class="btn"
                  type="reset"
                  value="Cancelar"
               >
                  Cancelar
               </button>
            </div>
         </div>

         <!-- Server side start -->

         <!-- <div
            class="form__container"
            id="table-clientes"
         >
            <h4 class="header-title">Clientes</h4>

            <form
               class="needs-validation"
               novalidate=""
            >
              

               <div class="form__input-data">
                  <label>Nombre Cliente</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="NombreCliente"
                        name="NombreCliente"
                        placeholder=""
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un nombre valido</p>
                  </div>
               </div>

               <div class="form__input-data">
                  <label>Apellido</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="Apellido"
                        name="Apellido"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un apellido valido</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label>RFC</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="RFC"
                        name="RFC"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un RFC valido</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label>Teléfonos Móviles</label>
                  <div class="input-group">
                     <input
                        type="text"
                        class="form-control"
                        id="TeléfonosMóviles"
                        name="TeléfonosMóviles"
                        aria-describedby="inputGroupPrepend"
                        required=""
                     />
                     <p class="invalid-feedback">Ingresa un teléfono valido</p>
                  </div>
               </div>
               <div class="form__input-data">
                  <label>Dirección Fiscal</label>
                  <input
                     type="text"
                     class="form-control"
                     id="DirecciónFiscal"
                     name="DirecciónFiscal"
                  />
                  <p class="invalid-feedback">Ingresa una dirección valida</p>
               </div>
               <div class="form__input-data">
                  <label>Correo</label>
                  <input
                     type="email"
                     class="form-control"
                     id="Correo"
                     name="Correo"
                  />
                  <p class="invalid-feedback">Ingresa un correo valido</p>
               </div>
               <div class="form__input-data">
                  <label>Grupo</label>
                  <input
                     type="email"
                     class="form-control"
                     id="Grupo"
                     name="Grupo"
                  />
                  <p class="invalid-feedback">Ingresa un grupo valido</p>
               </div>
               <div class="form__input-data">
                  <label>Serie/Código</label>
                  <input
                     type="text"
                     class="form-control"
                     id="Serie"
                     name="Serie"
                  />
                  <p class="invalid-feedback">Ingresa un código valido</p>
               </div>

               <div class="form__input-data">
                  <label>Póliza anterior</label>
                  <input
                     type="text"
                     class="form-control"
                     id="PólizaAnterior"
                     name="PólizaAnterior"
                  />
                  <p class="invalid-feedback">Ingresa un dato valido</p>
               </div>
               <div class="form__input-data">
                  <label>Renovación</label>
                  <input
                     type="text"
                     class="form-control"
                     id="Renovación"
                     name="Renovación"
                  />
                  <p class="invalid-feedback">Ingresa un dato valido</p>
               </div>
               <div class="form__input-data">
                  <label>Prima meta</label>
                  <input
                     type="text"
                     class="form-control"
                     id="PrimaMeta"
                     name="PrimaMeta"
                  />
                  <p class="invalid-feedback">Ingresa un dato valido</p>
               </div>
               <div class="form__input-data">
                  <label>Prima total</label>
                  <input
                     type="text"
                     class="form-control"
                     id="PrimaTotal"
                     name="PrimaTotal"
                  />
                  <p class="invalid-feedback">Ingresa un dato valido</p>
               </div>
               <div class="form__input-data">
                  <label for="validationCustom05">Notas</label>
                  <input
                     type="text"
                     class="form-control"
                     id="Notas"
                     name="Notas"
                  />
               </div>
            </form>
         </div> -->
         <div
            class="form__container table-polizas"
            id="table-polizas"
         >
            <h4 class="header-title">Tabla de Pólizas</h4>

            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Póliza</th>
                     <th scope="col">Forma de Pago</th>
                     <th scope="col">Aseguradora</th>
                     <th scope="col">Vigencia</th>
                  </tr>
               </thead>
               <tbody>
                  <!-- Inicio de datos ficticios -->
                  <!-- <tr>
                     <td>1231212</td>
                     <td>efectivo</td>
                     <td>1231212</td>
                     <td>1231212</td>
                  </tr>
                  <tr>
                     <td>1231212</td>
                     <td>efectivo</td>
                     <td>1231212</td>
                     <td>1231212</td>
                  </tr>
                  <tr>
                     <td>1231212</td>
                     <td>efectivo</td>
                     <td>1231212</td>
                     <td>1231212</td>
                  </tr>
                  <tr>
                     <td>1231212</td>
                     <td>efectivo</td>
                     <td>1231212</td>
                     <td>1231212</td>
                  </tr>
                  <tr>
                     <td>1231212</td>
                     <td>efectivo</td>
                     <td>1231212</td>
                     <td>1231212</td>
                  </tr> -->
                  <!-- Agregar la información de la tabla -->
               </tbody>
            </table>
         </div>
      </div>

      <!-- Server side start -->

      <div class="card-body">
         <h4 class="header-title">Listas de Recibos</h4>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Número</th>
                  <th scope="col">Fecha de Recibo</th>
                  <th scope="col">Vencimiento</th>
                  <th scope="col">Prima Neta</th>
                  <th scope="col">Prima Total</th>
                  <th scope="col">Comisión</th>
                  <th scope="col">Pagado</th>
                  <th scope="col">Fecha de Pago</th>
                  <th scope="col">Comprobante</th>
                  <th scope="col">Cancelado</th>
               </tr>
            </thead>
            <tbody>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td>
                  <div class="form-check">
                     <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="CheckPagado"
                        name="CheckPagado"
                     />
                     <label class="form-check-label"> </label>
                  </div>
               </td>
               <td></td>
               <td></td>
               <td>
                  <div class="form-check">
                     <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="CheckCancelado"
                        name="CheckCancelado"
                     />
                     <label class="form-check-label"> </label>
                  </div>
               </td>
               <!-- Agregar la información de la tabla -->
            </tbody>
         </table>
      </div>

      <!-- main content area end -->

      <!-- jquery latest version -->
      <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
      <!-- bootstrap 4 js -->
      <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>

      <!-- DataTables  & Plugins FORMATO TABLAS-->
      <script src="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/jszip/jszip.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/pdfmake.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/pdfmake/vfs_fonts.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>

      <!-- others plugins -->
      <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
   </body>
</html>
