<!DOCTYPE html>
<html class="no-js" lang="es-mx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Reporte Prima neta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/brc-styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
</head>

<body>
  <nav class="navbar">
    <a class="app-section" href="{{ url_for('main.index') }}">
      <h2 class="name-app">Póliza Tracker</h2>
      <img src="{{ url_for('static',filename='assets/images/GGGC.png') }}" class="logo-ggc" />
    </a>
    <div class="user-profile pull-right">
      <h6 class="user-name dropdown-toggle" data-toggle="dropdown">
        {{ current_user.username }}<i class="fa fa-angle-down"></i>
      </h6>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
        <a class="dropdown-item" href="{{ url_for('auth.cambiar_contrasena') }}">Cambiar Contraseña</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <form class="row mt-2" id="form-fechas" novalidate>
          <div class="col-5">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="start_date">Fecha Inicio</label>
              <div class="input-group">
                <input type="date" class="form-control" id="start_date" name="start_date" required />
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="end_date">Fecha Fin</label>
              <div class="input-group">
                <input type="date" class="form-control" id="end_date" name="end_date" required />
              </div>
            </div>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button class="btn" type="submit" id="btnGuardar">
              Filtrar por fechas
            </button>
          </div>
        </form>
        <form class="row mt-2" id="form-multiple" novalidate>
          <div class="col">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="start_date">Aseguradora</label>
              <select class="custom-select" id="aseguradora_id" name="aseguradora_id"></select>
            </div>
          </div>
          <div class="col">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="end_date">Grupo</label>
              <select class="custom-select" id="grupo_id" name="grupo_id"></select>
            </div>
          </div>
          <div class="col">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="end_date">Ramo</label>
              <select class="custom-select" id="ramo_id" name="ramo_id"></select>
            </div>
          </div>
          <div class="col">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="end_date">Agente</label>
              <select class="custom-select" id="agente_id" name="agente_id"></select>
            </div>
          </div>
          <div class="col">
            <div class="form__input-data input-sibling-child">
              <label class="label-input-data" for="end_date">Vendedor</label>
              <select class="custom-select" id="vendedor_id" name="vendedor_id"></select>
            </div>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button class="btn" type="submit" id="btnMultiple">
              Aplicar filtros
            </button>
          </div>
        </form>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <div>
          <button class="btn px-4 py-2" type="button" id="btnExportar">
            Exportar a Excel
          </button>
          <button class="btn px-4 py-2" type="button" id="btnPdf">
            Exportar Pdf
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="w-100 card__shadow p-3 my-2" id="table-polizas">
          <h4 class="header-title">Tabla de prima neta</h4>
          <table class="table">
            <thead class="tableHeader">
              <tr>
                <th class="table-name siblingContainerRow" scope="col">
                  Año
                </th>
                <th scope="col">Mes</th>
                <th scope="col">Total prima neta pagada</th>
              </tr>
            </thead>
            <tbody id="table-primaneta"></tbody>
          </table>
          <div class="w-100 d-flex justify-content-center">
            <div id="pagination-primaneta"></div>
          </div>
        </div>
      </div>
      <div class="col-12" id="chart-container"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"
    integrity="sha256-6EJwvQzVvfYP78JtAMKjkcsugfTSanqe4WGFpUdzo88=" crossorigin="anonymous"></script>
  <script type="module" src="{{ url_for('static', filename='assets/controladores/reportePrimaNeta.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
</body>

</html>