<!DOCTYPE html>
<html class="no-js" lang="es-mx">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <title>Usuarios</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" type="image/png"
      href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/brc-styles.css') }}" />
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
</head>

<body>
   <nav class="navbar">
      <a class="app-section" href="{{ url_for('main.index') }}">
         <h2 class="name-app">Póliza Tracker</h2>
         <img src="{{ url_for('static',filename='assets/images/GGGC.png') }}" class="logo-ggc" />
      </a>
      <div class="user-profile pull-right">
         <h6 class="user-name dropdown-toggle" data-toggle="dropdown">
            {{ current_user.username }}<i class="fa fa-angle-down"></i>
         </h6>
         <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
            <a class="dropdown-item" href="{{ url_for('auth.cambiar_contrasena') }}">Cambiar Contraseña</a>
         </div>
      </div>
   </nav>

   <!-- page container area start -->
   <div class="container-fluid">
      <div class="row mt-3">
         <div class="col-3 p-3">
            <div class="w-100 card__shadow p-3">
               <h4 class="header-title">Captura de Usuarios</h4>
               <form id="userForm" class="needs-validation form-data" novalidate>
                  <input type="hidden" id="usuario_id" name="usuario_id" value="New" />
                  <div class="form__input-data">
                     <label for="nombre" class="label-input-data">
                        Nombre Usuario
                     </label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" minlength="2"
                           maxlength="50" required />
                        <p class="invalid-feedback">Ingresa un nombre válido.</p>
                     </div>
                  </div>
                  <div class="form__input-data">
                     <label for="apellido" class="label-input-data">Apellido</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder=""
                           minlength="2" maxlength="50" required />
                        <p class="invalid-feedback">Ingresa un apellido válido.</p>
                     </div>
                  </div>
                  <div class="form__input-data">
                     <label for="cel" class="label-input-data">Teléfono</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="cel" name="cel" placeholder="" minlength="10"
                           maxlength="10" required />
                        <p class="invalid-feedback">Ingresa un teléfono válido.</p>
                     </div>
                  </div>
                  <div class="form__input-data">
                     <label class="label-input-data" for="email">Correo Electrónico</label>
                     <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="" minlength="5"
                           maxlength="50" required />
                        <p class="invalid-feedback">
                           Ingresa un correo electrónico válido.
                        </p>
                     </div>
                  </div>
                  <div class="form__input-data">
                     <label for="acceso" class="label-input-data">Nivel (Tipo de Usuario)</label>
                     <select class="custom-select" id="acceso" name="acceso" aria-placeholder="" required>
                        <option></option>
                        <option value="1">Administrador</option>
                        <option value="2">Usuario</option>
                        <option value="3">Desarrollador</option>
                        <option value="4">Gerente</option>
                     </select>
                     <p class="invalid-feedback">Selecciona un grupo válido.</p>
                  </div>
                  <div class="form__input-data">
                     <label class="label-input-data" for="username">Username</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder=""
                           minlength="5" maxlength="50" required />
                        <p class="invalid-feedback">
                           Ingresa un usuario válido.
                        </p>
                     </div>
                  </div>
                  <div class="form__input-data">
                     <label class="label-input-data" for="password">Contraseña</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="password" name="password" placeholder=""
                           minlength="8" required />
                        <p class="invalid-feedback">
                           Ingresa una constraseña válida.
                        </p>
                     </div>
                  </div>
                  <div class="button-container">
                     <button id="save-btn" type="submit" class="btn">
                        Guardar
                     </button>
                     <button id="reset-btn" type="reset" class="btn">
                        Cancelar
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-9 p-3">
            <div class="w-100 card__shadow p-3" style="max-height: 477.59px;min-height: 477.59px;">
               <div class="table-polizas" id="table-polizas">
                  <h4 class="header-title">Tabla de Usuarios</h4>
                  <form class="d-flex" role="search">
                     <input class="form-control my-2" type="search" placeholder="Buscar Usuario" aria-label="Search"
                        id="searchUser" />
                  </form>
                  <table class="table">
                     <thead class="tableHeader">
                        <tr>
                           <th class="table-name siblingContainerRow" scope="col">
                              Nombre
                              <a class="btn__icon" id="sortByName">
                                 <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                                    width="24">
                                    <path
                                       d="m80-280 162-400h63l161 400h-63l-38-99H181l-38 99H80Zm121-151h144l-70-185h-4l-70 185Zm347 151v-62l233-286H566v-52h272v63L607-332h233v52H548ZM384-784l96-96 96 96H384Zm96 704-96-96h192l-96 96Z" />
                                 </svg>
                              </a>
                           </th>
                           <th class="table-mail" scope="col">
                              Correo
                           </th>
                           <th class="table-phone" scope="col">
                              Teléfono
                           </th>
                           <th class="table-actions" scope="col">
                              Acceso
                           </th>
                           <th class="table-actions" scope="col">
                              Acción
                           </th>
                        </tr>
                     </thead>
                     <tbody id="table-users">
                        <!-- Agregar la información de la tabla -->
                     </tbody>
                  </table>
               </div>
               <div class="w-100 d-flex justify-content-center">
                  <div id="pagination" style="position: absolute;bottom: 30px;"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-6 p-3">
            <div class="w-100 card__shadow p-3">
               <h4 class="header-title">Cambio de Contraseña</h4>
               <table class="table">
                  <thead class="tableHeader">
                     <tr class="tableOption1">
                        <th class="table-mail" scope="col" id="usuario">
                           Usuario
                        </th>
                        <th class="table-mail" scope="col" id="correo">
                           Correo
                        </th>
                        <th class="table-mail" scope="col" id="correo">
                           Acciones
                        </th>
                     </tr>
                  </thead>
                  <tbody id="table-password">
                  </tbody>
               </table>
               <div class="w-100 d-flex justify-content-center">
                  <div id="pagination-password" style="position: absolute;bottom: 20px;"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal historial -->
   <div class="modal fade bd-example-modal-lg" id="hist" tabindex="-1" role="dialog" aria-labelledby="hist">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body pt-1">
               <div class="row pb-4">
                  <div class="col-12">
                     <h4 class="header-title">Historial de acciones</h4>
                     <table class="table">
                        <thead class="tableHeader">
                           <tr class="tableOption1">
                              <th scope="col" style="width: 25%;">
                                 Usuario
                              </th>
                              <th scope="col" style="width: 20%;">
                                 Fecha
                              </th>
                              <th scope="col" style="width: 45%;">
                                 Descripción
                              </th>
                              <th scope="col" style="width: 10%;">
                                 Estatus
                              </th>
                           </tr>
                        </thead>
                        <tbody id="table-history">
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="w-100 d-flex justify-content-center">
                  <div id="pagination-history" style="position: absolute;bottom: 10px;"></div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal change password -->
   <div class="modal fade bd-example-modal-lg" id="pass" tabindex="-1" role="dialog" aria-labelledby="pass">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body pt-1">
               <div class="row pb-4">
                  <div class="col-12">
                     <h4 class="header-title">
                        Cambiar contraseña
                     </h4>
                     <form id="passForm" class="needs-validation form-data" novalidate>
                        <input type="hidden" id="user_id" name="user_id" value="" />
                        <div class="form__input-data">
                           <label for="pass" class="label-input-data">
                              contraseña
                           </label>
                           <div class="input-group">
                              <input type="text" class="form-control" id="pass" name="pass" minlength="6" maxlength="8"
                                 required />
                              <p class="invalid-feedback">
                                 Ingresa una contraseña válida.
                              </p>
                           </div>
                        </div>
                        <div class="form__input-data">
                           <label for="cpass" class="label-input-data">
                              Confirmar contraseña
                           </label>
                           <div class="input-group">
                              <input type="text" class="form-control" id="cpass" name="cpass" minlength="6"
                                 maxlength="8" required />
                              <p class="invalid-feedback">
                                 Ingresa una confirmación de constraseña
                              </p>
                           </div>
                        </div>
                        <div class="button-container">
                           <button id="save-btn" type="submit" class="btn">
                              Guardar
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- main content area end -->

   <script type="module" src="{{ url_for('static', filename='assets/controladores/usuario.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
</body>

</html>