<!DOCTYPE html>
<html class="no-js" lang="es-mx">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <title>Utilerias</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" type="image/png"
      href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/export.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/brc-styles.css') }}" />
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
</head>

<body>
   <nav class="navbar">
      <a class="app-section" href="{{ url_for('main.index') }}">
         <h2 class="name-app">Póliza Tracker</h2>
         <img src="{{ url_for('static',filename='assets/images/GGGC.png') }}" class="logo-ggc" />
      </a>
      <div class="user-profile pull-right">
         <h6 class="user-name dropdown-toggle" data-toggle="dropdown">
            {{ current_user.username }}<i class="fa fa-angle-down"></i>
         </h6>
         <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
            <a class="dropdown-item" href="{{ url_for('auth.cambiar_contrasena') }}">Cambiar Contraseña</a>
         </div>
      </div>
   </nav>

   <div class="containergeneral">
      <div class="form__container1">
         <h4 class="header-title" id="tipoTitle"></h4>
         <form id="utileriasForm" class="needs-validation form-data" novalidate>
            <input type="hidden" id="aseguradora_id" name="aseguradora_id" value="New" />
            <div class="form__input-data">
               <label for="tipo" class="label-input-data">Selecciona un tipo</label>
               <select class="custom-select" id="tipo" name="tipo" required>
                  <option value="Aseguradora">Aseguradora</option>
                  <option value="Agente">Agente</option>
                  <option value="Vendedor">Vendedor</option>
               </select>
               <p class="invalid-feedback">Selecciona un tipo válido.</p>
            </div>
            <div class="form__input-data">
               <label for="nombre" class="label-input-data">
                  Nombre
               </label>
               <div class="input-group">
                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" minlength="2"
                     maxlength="50" required />
                  <p class="invalid-feedback">Ingresa un nombre válido.</p>
               </div>
            </div>
            <div class="button-container">
               <button id="Savebtn" type="submit" class="btn">
                  Guardar
               </button>
               <button id="Resetbtn" type="reset" class="btn">
                  Cancelar
               </button>
            </div>
         </form>
      </div>
      <div class="tables-user1">
         <div class="table-polizas" id="table-polizas">
            <h4 class="header-title">Tabla de Aseguradoras</h4>
            <form class="d-flex" role="search">
               <input class="form-control my-2" type="search" placeholder="Buscar ..." id="searchAseguradora" />
            </form>
            <table class="table">
               <thead class="tableHeader">
                  <tr>
                     <th class="table-name siblingContainerRow" scope="col">
                        Nombre
                        <!-- <a class="btn__icon" id="sortByName">
                           <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                              <path
                                 d="m80-280 162-400h63l161 400h-63l-38-99H181l-38 99H80Zm121-151h144l-70-185h-4l-70 185Zm347 151v-62l233-286H566v-52h272v63L607-332h233v52H548ZM384-784l96-96 96 96H384Zm96 704-96-96h192l-96 96Z" />
                           </svg>
                        </a> -->
                     </th>
                     <th class="table-mail" scope="col">
                        Correo
                     </th>
                     <th class="table-phone" scope="col">
                        Teléfono
                     </th>
                     <th class="table-actions" scope="col">
                        Acción
                     </th>
                  </tr>
               </thead>
               <tbody id="table-aseguradoras">
               </tbody>
            </table>
            <div class="w-100 d-flex justify-content-center">
               <div id="pagination"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row tables-user1 w-100">
         <div class="table-polizas" id="table-acciones">
            <h4 class="header-title">Tabla historial de acciones</h4>
            <div class="col-12">
               <form class="row mt-2" id="form-multiple" novalidate>
                  <div class="col-3">
                     <div class="form__input-data input-sibling-child">
                        <label class="label-input-data" for="start_date">Fecha Inicio</label>
                        <div class="input-group">
                           <input type="date" class="form-control" id="start_date" name="start_date" required />
                        </div>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="form__input-data input-sibling-child">
                        <label class="label-input-data" for="end_date">Fecha Fin</label>
                        <div class="input-group">
                           <input type="date" class="form-control" id="end_date" name="end_date" required />
                        </div>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="form__input-data input-sibling-child">
                        <label class="label-input-data" for="start_date">Estatus</label>
                        <select class="custom-select" id="estatus" name="estatus">
                           <option value="Pendiente">Pendiente</option>
                           <option value="Aceptada">Aceptada</option>
                           <option value="Rechazada">Rechazada</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-2 d-flex align-items-end">
                     <button class="btn" type="submit" id="btnMultiple">
                        Aplicar filtros
                     </button>
                  </div>
               </form>
            </div>
            <form class="d-flex" role="search">
               <input class="form-control my-2" type="search" placeholder="Buscar ..." id="searchAcciones" />
            </form>
            <table class="table">
               <thead class="tableHeader">
                  <tr>
                     <th scope="col">
                        Usuario
                     </th>
                     <th scope="col">
                        Revisado por
                     </th>
                     <th scope="col">
                        Fecha
                     </th>
                     <th scope="col">
                        descripcion
                     </th>
                     <th scope="col">
                        status
                     </th>
                  </tr>
               </thead>
               <tbody id="table-accciones">
               </tbody>
            </table>
            <div class="w-100 d-flex justify-content-center">
               <div id="pagination-acciones"></div>
            </div>
         </div>
      </div>
   </div>
   <script type="module" src="{{ url_for('static', filename='assets/controladores/utilerias.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/metisMenu.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
</body>

</html>