* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

:root {
   --color-primario: #c94a1c;
   --primario-complementario: #1cb3c9;
   --gris-medio: #6c757da9;
   --color-claro: #f2f2f2;
}

body {
   background-color: var(--color-claro);
   height: 100vh;
   /* overflow: hidden; */
}

label {
   font-size: 0.7rem;
   color: var(--gris-medio);
   opacity: 0.5;
}

input {
   border: none;
   background-color: transparent;
}

input:focus {
   outline: none;
}

h2 {
   font-size: 2rem;
   font-weight: 600;
}

.login__container {
   width: 100vw;
   height: 100%;
   display: flex;
   justify-content: start;
}

.login-img__container {
   width: 50%;
   overflow: hidden;
}

.login__img {
   height: 100vh;
   position: relative;
   left: -50px;
}

.login__form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 100px auto;
   padding: 50px;
}

.form__header > h2,
p {
   text-align: center;
}

.login__welcome {
   color: var(--gris-medio);
}

.login__greetings {
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--gris-medio);
}

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.form__input {
   position: relative;
   margin: 16px 0;
   border-bottom: 1px solid var(--gris-medio);
}

/* .input-group {
   height: fit-content;
} */

.input-label {
   pointer-events: none;
   transition: all 0.7s ease;
}

.input-label .txt-label {
   transition: all 0.7s ease;
}

.input:hover + .input-label {
   opacity: 1;
}

.input:focus + .input-label .txt-label,
.input:valid + .input-label .txt-label,
.input:focus + .input-label {
   font-size: 0.9rem;
   color: var(--color-primario);
   opacity: 1;
   transform: translateY(-110%);
   transition: all 0.7s ease;
}

.txt-label {
   position: absolute;
   bottom: 0px;
   left: 0;
}

.input {
   width: 100%;
}
/* .form-control  */
.input__icon {
   position: absolute;
   right: 0;
   bottom: 12px;
}

#mensajeError {
   opacity: 0;
   color: var(--color-primario);
   font-size: 0.7rem;
   text-align: left;
}

.link-forgot-pass {
   text-decoration: none;
   text-align: right;
   margin: 16px 0;
   color: var(--primario-complementario);
}

.link-forgot-pass:hover {
   text-decoration: underline;
   transition: all 0.7s ease;
}

.form__btn-submit {
   width: 100%;
   padding: 16px;
   border: 1px solid transparent;
   border-radius: 50px;
   background-color: var(--color-primario);
   color: var(--color-claro);
   font-size: 1rem;
   font-weight: 700;
   cursor: pointer;
}

.form__btn-submit:hover {
   color: var(--color-primario);
   border: 1px solid var(--color-primario);
   background-color: transparent;
   transition: all 0.3s ease;
}

/* menup */

.navbar {
   margin: 0;
   padding: 0 0 0 32px;
   height: 60px;
   display: flex;
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 1000;
   box-shadow: 5px 2px 14px -9px var(--gris-medio);
}

.app-section {
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
}

.name-app {
   color: var(--gris-medio);
   margin: auto 6px;
}

.logo-ggc {
   margin: auto;
   padding: 8px;
   height: 100%;
}

.user-profile {
   margin: 0;
   height: 100%;
}

.general-card-container {
   height: calc(100vh - 60px);
   display: flex;
   align-items: center;
}

.tarjeta-container {
   width: 100vw;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.card {
   width: calc((100% - 64px) / 7);
   margin: 32px;
   border: none;
}

.card h3 {
   color: var(--gris-medio);
   font-size: 1.6rem;
   margin: auto;
   padding: 8px 4px;
   text-align: center;
}

.card:hover {
   outline: 3px solid var(--color-primario);
   transition: all 0.1s ease;
   box-shadow: 5px 10px 32px -9px var(--gris-medio);
}

/* Pantalla Pólizas */

.tables-container {
   width: 100%;
   padding: 32px;
   display: flex;
}

.form__container {
   width: 30%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 32px;
   padding: 32px;
   background-color: white;
   border-radius: 14px;
   box-shadow: 5px 2px 14px -9px var(--gris-medio);
}

.tables-sibling {
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin: 32px;
   padding: 32px;
   background-color: white;
   border-radius: 14px;
   box-shadow: 5px 2px 14px -9px var(--gris-medio);
}

.table-polizas {
   width: 100%;
   margin: 0;
   padding: 0;
}

.label-option {
   display: flex;
   justify-content: space-between;
}

.form-data {
   width: 100%;
}

.form__input-data {
   position: relative;
   margin: 2px;
}

.input-sibling {
   display: flex;
   align-items: flex-end;
}

.input-sibling-child {
   flex-grow: 1;
}

.button-container {
   width: 100%;
   display: flex;
   margin-top: 24px;
}

.btn {
   flex-grow: 1;
   margin: 2px;
   padding: 8px 2px;
}

.label-input-data {
   margin-bottom: 0px; /* sobre escribe propiedad declarada por bootstrap */
   opacity: 1;
   color: var(--gris-medio);
}

tbody tr,
tbody tr td {
   height: 10px;
}

tbody tr:nth-child(2n + 1) {
   color: var(--color-claro);
   background-color: var(--gris-medio);
}

.form-control,
.custom-select {
   height: 30px;
   /* border-bottom: 1px solid var(--gris-medio); */
}

/* Estilos tablas clientes */

.header-table {
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.table-options {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.link-option {
   margin: 0 8px 0 0;
}

#myTable_wrapper {
   width: 100%;
}
#myTable {
   width: 100%;
}

a .edit,
a .delete {
   color: var(--color-primario);
}

.td-clickable {
   color: var(--color-primario);
   cursor: pointer;
}

.container__modal {
   width: 80vw;
   height: 80vh;
   margin: auto auto;
   position: absolute;
   top: 100px;
   left: 10%;
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(7px);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s ease;
}

.modal-active {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   opacity: 1;
   pointer-events: all;
   transition: all 0.5s ease;
}

.form__modal {
   width: 30%;
   height: 25%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: auto auto;
   padding: 50px;
   background-color: white;
   border-radius: 14px;
}

.form__modal-table {
   width: 80%;
   -webkit-box-shadow: 13px 12px 23px -15px rgba(0, 0, 0, 0.79);
   -moz-box-shadow: 13px 12px 23px -15px rgba(0, 0, 0, 0.79);
   box-shadow: 13px 12px 23px -15px rgba(0, 0, 0, 0.79);
}

.form__modal .form__btn-submit {
   width: fit-content;
   height: fit-content;
   padding: 4px 24px;
}

.infoAdicional {
   font-size: 0.4 rem;
   font-weight: 400;
   text-align: left;
   margin-bottom: 16pxalinea;
}

.paginationList {
   justify-self: end;
   width: fit-content;
   display: flex;
   justify-content: start;
   align-items: center;
   margin: 0;
   user-select: none;
}

.paginationList__index {
   cursor: pointer;
   margin: 0;
   padding: 4px 12px;
}

.paginationList__index:hover {
   color: var(--color-claro);
   background-color: var(--color-primario);
}

.paginationList__index--active {
   font-weight: bold;
   color: var(--color-primario);
}

.paginationList__index--active:hover {
   outline: var(--color-primario);
   color: var(--color-primario);
   background-color: var(--color-claro);
}

.paginationList__current-index {
   padding: 8px;
   cursor: default;
   outline: var(--color-primario);
   color: var(--color-primario);
   background-color: var(--color-claro);
}

.noScroll {
   overflow: hidden;
   height: 100vh;
}

.btn_table_options {
   display: flex;
   width: fit-content;
}

.btn_icon {
   vertical-align: middle;
}

.noClickable {
   pointer-events: none;
   cursor: not-allowed;
   &.paginationList__index {
      opacity: 0.2;
   }
}

.table-name {
   width: 30%;
}

.table-mail {
   width: 30%;
}

.table-phone {
   width: 30%;
}

.table-actions {
   width: 10%;
}

.invalid-feedback {
   margin: 4px;
   line-height: 0px;
}

.siblingContainerRow {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tableHeader th {
   padding: 2px 12px;
}
